# --- App ---
PORT=8010
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=10080 # 7 days
PROJECT_NAME="Simple authentication module :: SAM"
API_VERSION="0.1.0"

# --- DB (matches docker-compose) ---
MYSQL_DATABASE=sam_db
MYSQL_USER=apiuser
MYSQL_PORT=3307 # external mysql port for accessing db outside the docker container 
MYSQL_ROOT_PASSWORD=your_password
MYSQL_PASSWORD=yourRootassword
MYSQL_GRANT_ALL=ALL PRIVILEGES
MYSQL_GRANT_DB=${MYSQL_DATABASE}

# Use the MariaDB dialect to avoid version parsing quirks.
DATABASE_URL=mysql+pymysql://${MYSQL_USER}:${MYSQL_PASSWORD}@sam_db:3306/${MYSQL_DATABASE}?charset=utf8mb4

# Configuration pour JWT
SECRET_KEY="YOUR SECRET KEY HERE"
ALGORITHM = "HS256"